<%- include('../../partials/main', { pageTitle: 'Update Category' }) %>

<div class="page-body">

    <!-- New Product Add Start -->
    <div class="container-fluid">
        <div class="row">
            <div class="col-12">
                <div class="row">
                    <div class="col-sm-8 m-auto">
                        <div class="card">
                            <div class="card-body">
                                <div class="card-header-2">
                                    <h5>Update Category</h5>
                                </div>

                                <form action="/admin/category/update/<%= category.id %>" method="POST" class="theme-form theme-form-2 mega-form" enctype="multipart/form-data">
                                    <div class="mb-4 row align-items-center">
                                        <label class="form-label-title col-sm-3 mb-0">Category Name</label>
                                        <div class="col-sm-9">
                                            <input class="form-control" type="hidden" name="token">
                                            <input class="form-control" type="text" name="name" placeholder="Category Name" value="<%= category.name %>" required>
                                        </div>
                                    </div>

                                    
                                    
                                    <div class="mb-4 row align-items-center">    
                                        <label class="col-sm-3 col-form-label form-label-title">Category Image</label>
                                        <div class="custom-file">
                                            <input type="file" name="image" id="customFileEg1" class="form-control form-choose"
                                                    accept=".jpg, .png, .jpeg, .gif, .bmp, .tif, .tiff|image/*" required
                                                    oninvalid="document.getElementById('en-link').click()">
                                            <div class="custom-file">
                                                <div class="text-center">
                                                    <% if ( category.image ){ %>
                                                        <img style="height: 290px;border: 1px solid;border-radius: 10px;width: 70%;margin-top:2rem" id="viewer" src="/image/<%= category.image%>" alt="image" />
                                                    <% } else { %>
                                                        <img style="height: 290px;border: 1px solid;border-radius: 10px;width: 70%;margin-top:2rem" id="viewer" src="<%= route %>/images/img2.jpg" alt="image" />
                                                    <% } %>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                    
                                    <div class="mb-4 row align-items-center">    
                                        <label class="col-sm-3 col-form-label form-label-title">Category Image</label>
                                        <div class="custom-file">
                                            <input type="file" name="image" class="form-control form-choose" id="customFileEg2"
                                                    accept=".jpg, .png, .jpeg, .gif, .bmp, .tif, .tiff|image/*" required
                                                    oninvalid="document.getElementById('en-link').click()">
                                                <div class="custom-file">
                                                    <div class="text-center">
                                                        <% if ( category.banner_image ){ %>
                                                            <img style="height: 290px;border: 1px solid;border-radius: 10px;width: 70%;margin-top:2rem" id="viewer2" src="/image/<%= category.banner_image%>" alt="image" />
                                                        <% } else { %>
                                                            <img style="height: 290px;border: 1px solid;border-radius: 10px;width: 70%;margin-top:2rem" id="viewer2" src="<%= route %>/images/img2.jpg" alt="image" />
                                                        <% } %>
                                                    </div>
                                            </div>
                                        </div>
                                    </div>


                                    <div class="d-inline-flex">
                                        <button class="align-items-center btn btn-theme d-flex" type="submit">
                                                    <i data-feather="plus-square"></i> Submit
                                        </button>
                                    </div>


                                    
                                    <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
                                    <script>
                                        $(document).ready(function() {
                                            // Listen for changes in the category image file input
                                            $('#categoryImageInput').on('change', function() {
                                                // Get the selected file name for category image
                                                var fileNameCategory = $(this).val().split('\\').pop();
                                                // Update the content of the additional box for category image with the file name
                                                $('#textFieldValueCategory').text('Selected Category Image: ' + fileNameCategory);
                                            });
                                        });
                                        
                                        $(document).ready(function() {
                                            // Listen for changes in the banner image file input
                                            $('#bannerImageInput').on('change', function() {
                                                // Get the selected file name for banner image
                                                var fileNamebanner = $(this).val().split('\\').pop();
                                                // Update the content of the additional box for banner image with the file name
                                                $('#textFieldValueBanner2').text('Selected Banner Image: ' + fileNamebanner);
                                            });
                                        });
                                    </script>
                                </form>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!-- New Product Add End -->

    <!-- footer Start -->
    <%- include('../../partials/footer')%>
    <!-- footer En -->
</div>
<!-- Container-fluid End -->





<%- include('../../partials/end')%>