<%- include('../../partials/main', { pageTitle: 'Upadte Attributes' }) %>

<div class="page-body">

    <!-- New Product Add Start -->
    <div class="container-fluid">
        <div class="row">
            <div class="col-12">
                <div class="row">
                    <div class="col-sm-8 m-auto">
                        <div class="card">
                            <div class="card-body">
                                <div class="card-header-2">
                                    <h5>Update Attribute</h5>
                                </div>

                                <form action="/admin/attribute/update/<%= attribute._id %>" method="POST" class="theme-form theme-form-2 mega-form">
                                    <div class="mb-4 row align-items-center">
                                        <label class="form-label-title col-sm-3 mb-0">Attribute Name</label>
                                        <div class="col-sm-9">
                                            <input class="form-control" type="text" name="name" placeholder="Attribute Name" value="<%= attribute.name %>" required>
                                        </div>
                                    </div>



                                    <div class="d-inline-flex">
                                        <button class="align-items-center btn btn-theme d-flex" type="submit">
                                                    <i data-feather="plus-square"></i> Submit
                                        </button>
                                    </div>


                                
                                </form>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!-- New Product Add End -->

    <!-- footer Start -->
    <%- include('../../partials/footer')%>
    <!-- footer En -->
</div>
<!-- Container-fluid End -->



<%- include('../../partials/end')%>
