<%- include('../../partials/main', { pageTitle: 'JoshFuels - Update-Products' }) %>

<div class="page-body">

    <!-- New Product Add Start -->
    <div class="container-fluid">
        <div class="row">
            <div class="col-12">
                <div class="row">
                    <div class="col-sm-8 m-auto">
                        <form class="theme-form theme-form-2 mega-form" id="productForm" method="POST" action="/admin/product/update/<%= product.id %>" enctype="multipart/form-data">
                            <div class="card">
                                <div class="card-body">
                                    <div class="card-header-2">
                                        <h5>Product Information</h5>
                                    </div>

                                        <input type="hidden" name="branch_id" value="123456">
                                        <div class="mb-4 row align-items-center">
                                            <input class="form-control" type="hidden" name="branch_id">
                                            <label class="form-label-title col-sm-3 mb-0">Product
                                                Name</label>
                                            <div class="col-sm-9">
                                                <input class="form-control" type="text"
                                                    placeholder="Product Name" name="name" value="<%= product.name %>">
                                            </div>
                                        </div>

                                        <div class="mb-4 row align-items-center">
                                            <label class="col-sm-3 col-form-label form-label-title">Category</label>
                                            <div class="col-sm-9">
                                                <select class="js-example-basic-single w-100" name="category" id="category">
                                                    <% categories.forEach(category => { %>
                                                        <option value="<%= category._id %>" <%= product.category && product.category.toString() === category._id.toString() ? 'selected' : '' %>><%= category.name %></option>
                                                    <% }); %>
                                                </select>
                                                
                                            </div>
                                        </div>
                                        
                                        <div class="mb-4 row align-items-center">
                                            <label class="col-sm-3 col-form-label form-label-title">Subcategory</label>
                                            <div class="col-sm-9">
                                                <select class="js-example-basic-single w-100" name="sub_category" id="sub_category">
                                                    <% subCategories.forEach(sub => { %>
                                                        <option value="<%= sub._id %>" <%= product.sub && product.sub.toString() === sub._id.toString() ? 'selected' : '' %>><%= sub.name %></option>
                                                    <% }); %>
                                                </select>
                                            </div>
                                        </div>

                                        <div class="mb-4 row align-items-center">
                                            <label
                                                class="col-sm-3 col-form-label form-label-title">Available time Starts</label>
                                            <div class="col-sm-9">
                                                <input type="time" name="available_time_starts" class="form-control" value="<%= product.available_time_starts %>" placeholder="Ex : 10:30 am" required="">
                                            </div>
                                        </div>

                                        <div class="mb-4 row align-items-center">
                                            <label
                                                class="col-sm-3 col-form-label form-label-title">Available time ends</label>
                                            <div class="col-sm-9">
                                                <input type="time" name="available_time_ends" class="form-control" value="<%= product.available_time_ends %>" placeholder="Ex : 10:30 am" required="">
                                            </div>
                                        </div>
                                </div>
                            </div>

                            <div class="card">
                                <div class="card-body">
                                    <div class="card-header-2">
                                        <h5>Description</h5>
                                    </div>

                                    
                                        <div class="row">
                                            <div class="col-12">
                                                <div class="row">
                                                    <label class="form-label-title col-sm-3 mb-0">Product Description</label>
                                                    <div class="col-sm-9">
                                                       <textarea name="description" id="" cols="50" rows="2">
                                                        <%= product.description %>
                                                       </textarea>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                        
                                </div>
                            </div>

                            <div class="card">
                                <div class="card-body">
                                    <div class="card-header-2">
                                        <h5>Product Images</h5>
                                    </div>
                                        <div class="mb-4 row align-items-center">
                                            <label
                                                class="col-sm-3 col-form-label form-label-title">Images</label>
                                                <div class="custom-file">
                                                    <input type="file" name="image" id="customFileEg1" class="form-control form-choose"
                                                            accept=".jpg, .png, .jpeg, .gif, .bmp, .tif, .tiff|image/*" required
                                                            oninvalid="document.getElementById('en-link').click()">
                                                    <div class="custom-file">
                                                        <div class="text-center">
                                                            <% if ( product.image ){ %>
                                                                <img style="height: 290px;border: 1px solid;border-radius: 10px;width: 70%;margin-top:2rem" id="viewer" src="/image/<%= product.image%>" alt="image" />
                                                            <% } else { %>
                                                                <img style="height: 290px;border: 1px solid;border-radius: 10px;width: 70%;margin-top:2rem" id="viewer" src="<%= route %>/images/img2.jpg" alt="image" />
                                                            <% } %>
                                                        </div>
                                                    </div>
                                                </div>
                                        </div>
                                </div>
                            </div>

                            <div class="card">
                                <div class="card-body">
                                    <div class="card-header-2">
                                        <h5>Product Price</h5>
                                    </div>
                                        <div class="mb-4 row align-items-center">
                                            <label class="col-sm-3 form-label-title">price</label>
                                            <div class="col-sm-9">
                                                <input class="form-control" type="string" placeholder="0" name="price" id="numberInput" value="<%= product.price %>" oninput="validateInput(this)">
                                            </div>
                                        </div>
                                        <div class="mb-4 row align-items-center">
                                            <label class="col-sm-3 form-label-title">Tax</label>
                                            <div class="col-sm-9">
                                                <input class="form-control" type="string" placeholder="0" name="tax" id="numberInput" value="<%= product.tax %>" oninput="validateInput(this)">
                                            </div>
                                        </div>
                                        <div class="mb-4 row align-items-center">
                                            <label class="col-sm-3 col-form-label form-label-title">Tax type</label>
                                            <div class="col-sm-9">
                                                <select class="js-example-basic-single w-100" name="tax_type">
                                                    <option disabled>Tax Type</option>
                                                    <option value="amount" <%= product.tax_type === 'amount' ? 'selected' : '' %>>Amount</option>
                                                    <option value="percentage" <%= product.tax_type === 'percentage' ? 'selected' : '' %>>Percent</option>
                                                </select>
                                            </div>
                                        </div>

                                </div>
                            </div>


                            <div class="card">
                                <div class="card-body">
                                    <div class="card-header-2">
                                        <h5>Discount</h5>
                                    </div>

                                    
                                        <div class="mb-4 row align-items-center">
                                            <label class="col-sm-3 form-label-title">Discount</label>
                                            <div class="col-sm-9">
                                                <input class="form-control" type="text" placeholder="0" name="discount" value="<%= product.discount %>" id="numberInput" oninput="validateInput(this)">
                                            </div>
                                        </div>
                                        <div class="mb-4 row align-items-center">
                                            <label class="col-sm-3 col-form-label form-label-title">Discount type</label>
                                            <div class="col-sm-9">
                                                <select class="js-example-basic-single w-100" name="discount_type">
                                                    <option disabled>Discount Type</option>
                                                    <option value="amount" <%= product.discount_type === 'amount' ? 'selected' : '' %>>Amount</option>
                                                    <option value="percentage" <%= product.discount_type === 'percentage' ? 'selected' : '' %>>Percent</option>
                                                </select>
                                            </div>
                                        </div>
                                        <div class="mb-4 row align-items-center">
                                            <label class="col-sm-3 col-form-label form-label-title">Discounted Price</label>
                                            <div class="col-sm-9">
                                                <input class="form-control" type="text" placeholder="0" readonly value="<%= product.discounted_price %>"  >
                                            </div>
                                        </div>
    

                                </div>
                            </div>

                            <div class="card">
                                <div class="card-body">
                                        <div class="mb-4 row align-items-center">
                                            <button class="btn btn-solid" type="submit">Update Product</button>
                                        </div>
                                </div>
                            </div>
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!-- New Product Add End -->

  <!-- Container-fluid End -->

  
  <!-- footer start-->
  <%- include('../../partials/footer')%>
  <!-- footer End--> 
  
  
  
  
  
  <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
  
<script>
    $(document).ready(function () {
        $("#category").change(function () {
            var selectedCategoryId = $(this).val();
            
            $.ajax({
                url: "/admin/product/getSubcategories",
                method: "GET",
                data: { category_id: selectedCategoryId },
                success: function (data) {
                    var subcategoryDropdown = $("#sub_category");
                    subcategoryDropdown.empty();
                    
                    if (data.length > 0) {
                        data.forEach(function (row) {
                            subcategoryDropdown.append(
                                $("<option>").val(row._id).text(row.name)
                            );
                        });
                    } else {
                        subcategoryDropdown.append(
                            $("<option>").text("No Subcategories Available")
                        );
                    }
                },
                error: function () {
                    console.log("Error fetching subcategories");
                }
            });
        });
    });
</script>

<script>
    function validateInput(inputField) {
        // Remove any non-numeric characters from the input
        inputField.value = inputField.value.replace(/[^0-9]/g, '');
    
        // Display an error message if input is empty
        var errorMessage = document.getElementById("errorMessage");
        if (inputField.value === "") {
            errorMessage.textContent = "Please enter a number.";
        } else {
            errorMessage.textContent = "";
        }
    }
    </script>

    
    

    <script>
        document.addEventListener("DOMContentLoaded", function() {
          const tagInput = document.getElementById("tagInput");
          const tagContainer = document.getElementById("tagContainer");
          let tags = [];
    
          tagInput.addEventListener("keydown", function(event) {
            if (event.key === "Enter" || event.key === ",") {
              event.preventDefault();
              const productName = tagInput.value.trim();
    
              if (productName) {
                addTag(productName);
              }
    
              tagInput.value = ""; // Clear the input
            }
          });
    
          function addTag(productName) {
            if (!tags.includes(productName)) {
              tags.push(productName);
              renderTags();
            }
          }
    
          function removeTag(tag) {
            tags = tags.filter(t => t !== tag);
            renderTags();
          }
    
          function renderTags() {
            tagContainer.innerHTML = "";
            tags.forEach(tag => {
              tagContainer.innerHTML += `
                <span class="tag">
                  ${tag}
                  <span class="close" onclick="removeTag('${tag}')">&times;</span>
                </span>`;
            });
          }
        });
      </script>

      <script>    
        new MultiSelectTag('countries', {
            rounded: true,    // default true
            shadow: true,      // default false
            placeholder: 'Search',  // default Search...
            onChange: function(values) {
                console.log(values)
            }
        })
    </script>
    
    
      <style>
        .tag {
          display: inline-block;
          margin: 5px;
          padding: 5px;
          border: 1px solid #ccc;
          border-radius: 5px;
          background-color: #f2f2f2;
        }
    
        .close {
          margin-left: 5px;
          cursor: pointer;
        }
    
        .form-control {
          padding:2px 12px;
          border: 1px solid #f9f9f6;
          border-radius: 4px;
          outline: none;
          width: 100%;
        }
      </style>

        
    <script>
        document.addEventListener('DOMContentLoaded', () => {
            const form = document.getElementById('productForm'); // Replace with your actual form ID
        
            form.addEventListener('submit', function (event) {
                event.preventDefault();
        
                const addonsSelect = document.getElementById('countries');
        
                if (addonsSelect) {
                    const selectedAddons = Array.from(addonsSelect.selectedOptions).map(option => option.value);
        
                    // Set the selected addon IDs as JSON data in the hidden input field
                    document.getElementById('selectedAddons').value = JSON.stringify(selectedAddons);
        
                    form.submit(); // Submit the form
                } else {
                    console.error('Addons select element not found.');
                }
            });
        });
        
    </script>

    
<script>
    function readURL(input, viewer_id) {
        if (input.files && input.files[0]) {
            var reader = new FileReader();

            reader.onload = function (e) {
                $('#'+viewer_id).attr('src', e.target.result);
            }

            reader.readAsDataURL(input.files[0]);
        }
    }

    $("#customFileEg1").change(function () {
        readURL(this, 'viewer');
    });
    $("#customFileEg2").change(function () {
        readURL(this, 'viewer2');
    });
</script>


<%- include('../../partials/end')%>